@use "../styles/variables";

.form-file-upload {
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

.label-file-upload {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  border-width: 2px;
  border-style: dashed;
  font-weight: bold;

  &.drag-active {
    background-color: variables.$light-bg-color;
    border-color: variables.$highlight-color;

    .upload-button {
      display: none;
    }

    p {
      pointer-events: none;
    }
  }
}

.upload-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: variables.$light-bg-color;
  color: white;
  border: none;
}
