.transform-area {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  min-height: 200px;

  > :nth-child(1) {
    flex-grow: 2;
  }

  > :nth-child(2) {
    flex-grow: 5;
  }

  > :nth-child(3) {
    flex-shrink: 0;
  }
}
